extends layout

block content
  h2 GitHub API 활용
    form.form-inline
      div.form-group
        input#source.form-control(name='q', value=q) 
        button#sumbitBtn.btn.btn-primary(type='submit') 검색
  hr
  if data
    if data.total_count < 1
      h4 검색 결과가 없습니다.
    else 
      table.table.table-bordered.table-hover
        thead
          tr
            th name
            th description
            th(style={width:'10%'}) language
            th(style={width:'8%'}) star
            th(style={width:'8%'}) watch
        tbody
          each item in data.items
            tr
              td
                a(target='_blank', href=item.html_url)= item.full_name
              td= item.description
              td= item.language
              td= item.stargazers_count
              td= item.watchers_count
  script.
    $(function(){
      $('#source').focus();
    });
    
